* {
    font-family: 'Poppins', sans-serif;
}


.content-body{
    min-height: 92.5vh;
}

.circular--portrait {
    position: relative;
    width: 30vh;
    height: 30vh;
    overflow: hidden;
    border-radius: 50%;
  }

.circular--portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
}

.navbar {
    background-color: white !important;
}

.light-gray {
    background-color: #f7f7f7;
    border-radius: 50px;
    height: 400px;
}

.infoBlockImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.pos-absolute{
    position: relative;
}
